.movie-booking{
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1000;
    top: 10%;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
    width: 100%;
   opacity: 1;
    
}